<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <%- include('models/bs_css.ejs') %>
  <link rel="stylesheet" href="/stylesheets/ranking.css">
</head>
<body class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="leaderboard m-auto text-center">
          <h1>隊伍排名</h1>
          <ul id="ranking-list"></ul>
        </div>
      </div>
    </div>
  </div>
  <%- include('models/bs_js.ejs') %>
  <script src="/javascripts/ranking.js"></script>
</body>
</html>
