<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ranking Board</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  <%- include('models/bs_css.ejs') %>
  <link rel="stylesheet" href="/stylesheets/ranking.css">
</head>
<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 m-5 ps-5 pe-5">
        <div class="ranking-board">
          <h1 class="neonText">Ranking Board</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="ranking-list" class="col-lg-10 col-12 m-auto">
      </div>
    </div>
  </div>
  <%- include('models/bs_js.ejs') %>
  <script src="/javascripts/ranking.js"></script>
</body>
</html>
