<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
</head>

<body>
  《本信件為系統自動發信，請勿回信》<br /><br />

  《楔子》<br /><br />

  你可曾聽說過 DejaVu？<br />
  也就是所謂的既視感，<br />
  面對初次接觸的事物，卻彷彿曾經經歷過。<br /><br />

  你也有過這樣的經驗嗎？<br /><br />

  人們都說：每天都是新的一天！<br />
  所有事物都是新的，要用迎接新事物的心來面對每一天！<br /><br />

  既然如此，<br />
  那些總是忽然出現、又如同黏膩的迷霧般纏繞在腦海中的既視感又是怎麼一回事呢？<br /><br />

  <a href="<%- basicUrl %><%- levelUrl %>">Next</a><br /><br />

  如有任何問題請聯絡主辦單位 <a href='https://www.facebook.com/ncnu.occultscience'>神科研粉絲團</a><br /><br />
  LOST 團隊敬上
</body>

</html>