<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
</head>

<body>
  《本信件為系統自動發信，請勿回信》<br /><br />
  
  &lt;LOST 3&gt; 參與者您好，<br /><br />
  本次活動解謎部分已於 <%- ACT_END_TIME %> 結束，<br />
  活動系統也將關閉，<br />
  後續的活動消息將公告於<a href='https://www.facebook.com/ncnu.occultscience'>粉絲專頁</a>，<br/>
  請密切關注粉絲專頁的任何消息。<br/><br/>
  
  感謝您的參與。<br/>

  如有任何問題請聯絡主辦單位 <a href='https://www.facebook.com/ncnu.occultscience'>神科研粉絲團</a><br /><br />
  LOST 團隊敬上
</body>

</html>