<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backstage RFID List</title>
  <%- include('../models/bs_css.ejs') %>
</head>

<body class="bg-dark text-light">
  <%- include('./nav.ejs') %>
  <div class="container pt-5">
    <div class="row text-center m-auto">
      <h1>RFID List</h1>

      <table class="table table-dark table-hover mt-5 fs-5">
        <thead>
          <tr>
            <th scope="col" class="col-4">#</th>
            <th scope="col" class="col-4">Card ID</th>
            <th scope="col" class="col-4">Type</th>
          </tr>
        </thead>
        <tbody id="rfid-list">
        </tbody>
      </table>

    </div>
  </div>
  <%- include('../models/bs_js.ejs') %>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  <script src="/javascripts/backstage/rfidList.js"></script>
</body>

</html>
