<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <%- include('../models/bs_css.ejs') %>
</head>

<body class="bg-dark text-light">
  <%- include('./nav.ejs') %>
  <div class="container pt-5">
    <div class="row text-center m-auto">
      <h1>Team Payment</h1>
    </div>
    <div class="row mt-5">
      <div class="col-lg-8 m-auto">
        <div class="row">
          <div class="col-lg-6 mb-2 m-auto">
            <a class="w-100 btn btn-success" onclick="searchByPaid(true)">Paid List</a>
          </div>
          <div class="col-lg-6 mb-2 m-auto">
            <a class="w-100 btn btn-warning" onclick="searchByPaid(false)">Unpaid List</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mt-3 m-auto">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Team Code or Team Name">
          <button class="btn btn-primary" type="button" id="searchBtn" onclick="search()">Search</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="searchResult" class="col-lg-8 mt-3 m-auto">

      </div>
    </div>
  </div>
  <%- include('../models/bs_js.ejs') %>
    <script src="/javascripts/backstage/teamPayment.js"></script>
</body>

</html>