<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../models/bs_css.ejs') %>
  <link rel="stylesheet" href="/stylesheets/afterClass.css">
</head>
<body>
  <div class="container">
    <div class="poneglyph m-auto">
      Sghr hr z qnzc onmdfkxog he xnt bzm qdzc sghr,
      sgdm xnt vhkk jmnv sgd kzrs okzbd hr zs sgd bqnrr onhms ne sgdrd entq qnzc onmdfkxog.
      Fn zmc ehmc sgd nsgdq sgqdd qnzc onmdfkxog. Fnnc ktbj.
    </div>
    <div class="row text-center">
      <div class="col m-auto">
        <img src="/images/after-class-3.jpg" alt="" srcset=""><br>
        A ← Z, K
      </div>
    </div>
  </div>
  <%- include('../models/bs_js.ejs') %>
</body>
</html>