<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('../models/bs_css.ejs') %>
    <link rel="stylesheet" href="/stylesheets/graduate.css">
</head>

<body>
  <div class="container-fluid text-center">
    <div class="row mt-5">
      <div id="poem" class="col-lg-8 col-12 m-auto">
        長長斜道<br>
        始於頂，終於底<br>
        三點一線<br>
        初為起，成為合<br>
        尋尋覓覓有始有<br>
        裡裡外外起承轉<br>
      </div>
    </div>
  </div>

  <%- include('../models/bs_js.ejs') %>
</body>

</html>